<h1 class="title"><%= fa_icon 'ticket' %>残留申請 Neo</h1>

<div class="row">
  <div class="col-sm-8">
    <h2>コントロール</h2>
    <div>
      <% cm = Date.today.month %>
      <% nm = Date.today.month.next %>
      <%= link_to "#{cm}月ダウンロード", csvs_path(format: :csv), {class: 'btn btn-primary'} %>
      <%= link_to "#{nm}月ダウンロード", csvs_path(format: :csv, next: true), {class: 'btn btn-primary'} %>
      <%= link_to "#{cm}月エクスポート済みリセット", requests_reactive_all_path, method: :post, class: 'btn btn-primary' %>
      <%= link_to "#{nm}月エクスポート済みリセット", requests_reactive_all_path(next: true), method: :post, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="pull-right col-sm-4">
    <p><strong>教員ログイン中</strong></p>
    <%= render partial: '/shared/userinfo', locals: {user: current_user} %>
  </div>
</div>

<hr>

<div id="calendar"></div>

<script type="text/javascript">
  <%= render partial: '/shared/calendar.js.erb', locals: { user: current_user, requests: @requests, is_admin: true } %>
</script>

<hr>
