<h1 class="title"><%= fa_icon 'ticket' %>残留申請 Neo</h1>

<div class="row">
  <div class="col-sm-8">
    <h2>Export</h2>
    <div>
      <%= link_to "#{Date.today.month}月", csvs_path(format: :csv), { target: '_blank', class: 'btn btn-primary' } %>
      <%= link_to "#{Date.today.month.next}月", csvs_path(format: :csv, next: true), { target: '_blank', class: 'btn btn-primary' } %>
    </div>
  </div>
  <div class="pull-right col-sm-4">
    <p><strong>教員ログイン中</strong></p>
    <%= render partial: '/shared/userinfo', locals: { user: current_user } %>
  </div>
</div>

<hr>

<div id="calendar"></div>

<script type="text/javascript">
  <%= render partial: '/shared/calendar.js.erb', locals: { user: current_user, requests: @requests, is_admin: true } %>
</script>

<hr>
