<h1>残留申請 Neo</h1>

<p>学生ログインです</p>


<form action="">
  <strong>教員: </strong>
  <select name="admin" id="admin">
    <% @professors.each do |pro| %>
        <option value="<%= pro.id %>"><%= pro.name %></option>
    <% end %>
  </select>

  <strong>教室: </strong>
  <select name="room" id="room">
    <% @rooms.each do |room| %>
        <option value="<%= room.id %>"><%= room.label %></option>
    <% end %>
  </select>
  <%= link_to 'ALL', '#', id: 'all-on' %>
</form>

<div id="calendar"></div>

<script type="text/javascript">
  <%= render partial: '/shared/calendar.js.erb', locals: { user: current_user, requests: current_user.requests, is_admin: false } %>
</script>
