<h1 class="title"><%= fa_icon 'ticket' %>残留申請 Neo</h1>

<div class="row">
  <div class="col-sm-8">
    <%= bootstrap_form_tag url: '' do |f| %>
        <%= f.select :admin, @professors.map { |p| [p.name, p.id] }, {label: '教員'}, {} %>
        <%= f.select :room, @rooms.map { |p| [p.label, p.id] }, {label: '教室'}, {} %>
    <% end %>
  </div>
  <div class="pull-right col-sm-4 userinfos">
    <%= render partial: '/shared/userinfo', locals: {user: current_user} %>
  </div>
</div>

<p>
  <%= fa_icon 'comment-o', id: 'async-icon' %>:
  <span id="async-message"></span>
</p>

<%= link_to 'まとめて登録', 'javascript:all_on();', id: 'all-on', class: 'btn btn-primary' %>
<%= link_to 'まとめて削除', 'javascript:all_off();;', id: 'all-off', class: 'btn btn-primary' %>

<div id="calendar"></div>

<script type="text/javascript">
  <%= render partial: '/shared/calendar.js.erb', locals: { user: current_user, requests: @requests, is_admin: false } %>
</script>
