<h1>残留申請 Neo</h1>
<% if current_user.admin? %>

    <p>教員ログインです</p>
    <h2>Export</h2>
    <div>
      <%= link_to "#{Date.today.month}月", csvs_path(format: :csv), { target: '_blank' } %>
      <%= link_to "#{Date.today.month.next}月", csvs_path(format: :csv), { target: '_blank' } %>
    </div>
<% else %>
    学生ログインです
<% end %>

<form action="">
  <strong>教員: </strong>
  <select name="admin" id="admin">
    <% @professors.each do |pro| %>
        <option value="<%= pro.id %>"><%= pro.name %></option>
    <% end %>
  </select>

  <strong>教室: </strong>
  <select name="room" id="room">
    <% @rooms.each do |room| %>
        <option value="<%= room.id %>"><%= room.label %></option>
    <% end %>
  </select>
</form>

<div id="calendar"></div>

<script type="text/javascript">
  <%= render partial: '/shared/calendar.js.erb', locals: { user: current_user } %>
</script>
