<h2>ユーザ情報編集</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.text_field :label, autofocus: 'off', label: '表示名(教員に分かるが判別できる id など半角英数字)' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: 'off', label: "新しいパスワード(#{@minimum_password_length}文字以上)" %>
      <em>変更しない場合は空欄</em>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: 'off', label: 'パスワード確認' %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: 'off', label: '現在のパスワード' %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>
<%= link_to "Back", :back %>
