<h2>新規登録</h2>
<p>
  登録には東京電機大学学生メールアドレスにが必要です。教員でシステムの利用を希望する方は hiro[at]cps.dendai.ac.jp まで連絡ください。
</p>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, label: 'メールアドレス(学籍番号を含み ms.dendai.ac.jp ドメインであるメールアドレス)' %>
  </div>

  <div class="field">
    <%= f.text_field :label, autofocus: 'off', label: '表示名(教員に分かるが判別できる id など半角英数字)' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: 'off', label: "パスワード(#{@minimum_password_length}文字以上)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: 'off', label: 'パスワード確認' %>
  </div>

  <div class="actions">
    <%= f.submit '登録' %>
    <%= render 'devise/shared/links' %>
  </div>
<% end %>
