<!DOCTYPE html>
<html>
  <head>
    <title>Night</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% elsif alert %>
      <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  <% if user_signed_in? %>
      <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
  <% end %>
  </body>
</html>
